* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background: black;
  color: white;
}
.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.app__body{
  flex:1;
  position: relative;
}
#map {
  height: 100%;
  width: 100%;
}
.marker {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-position: center top;
  background-image: url('pin.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 40px;
  z-index: 100;
  background: black;
  color: #aaaaad;
  transition: all 0.3s;
  padding:20px;
  box-sizing: border-box;
}
.content button {
  border: none;
  background: #3FB1CE;
  color:black;
  margin: 0 10px 10px 0;
  padding:10px 20px;
}

.content.closed {
  transform: translatex(-100%);
  opacity: 0;
}

.content p,
.content h2{
  margin-bottom:1em;
  line-height: 1.2;
}

h1{
  background: black;
  color: #3FB1CE;
  font-size: 16px;
  padding: 15px;
}