:root {
  --highlight: #d31e40;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background: black;
  color: white;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.app__body {
  flex: 1;
  position: relative;
}
#map {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.ready #map {
  opacity: 1;
}

/* Override marker colours */
g[fill="#3FB1CE"] {
  fill: var(--highlight) !important;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 40px;
  z-index: 100;
  background: black;
  color: #aaaaad;
  transition: all 0.3s;
  padding: 20px;
  box-sizing: border-box;
}
.content button {
  border: none;
  background: var(--highlight);
  color: black;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
}

.content.closed {
  transform: translatex(-100%);
  opacity: 0;
}

.content p,
.content h2 {
  margin-bottom: 1em;
}

h1 {
  background: black;
  color: var(--highlight);
  font-size: 16px;
  padding: 15px;
}

.artwork {
  max-width: 35em;
  line-height: 1.3;
}
.artwork__artist,
.artwork__media {
  opacity: 0.7;
}

/* Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
.loader::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin: 6px;
  border-radius: 40px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid var(--highlight);
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
